{% extends "store/base.html" %}
{% block content %}
<div class="container mx-auto mt-10 px-4">
    <!-- Back Button -->
    <a href="{% url 'home' %}" class="text-blue-500 inline-flex items-center mb-4">
        <i
            class='bx bx-arrow-back text-2xl text-black dark:text-white  hover:text-gray-700 dark:hover:text-white cursor-pointer mr-2'></i>
    </a>

    <!-- Page Title -->
    <h1 class="text-3xl font-bold text-center text-gray-800 dark:text-white mb-8">All Categories</h1>

    <!-- Categories Grid -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for category in categories %}
        <a href="{% url 'category_products' category.slug %}"
            class="bg-white dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-200 border border-gray-200 dark:border-gray-700 rounded-2xl p-6 shadow-md text-center flex items-center justify-center">
            <h2 class="text-lg font-semibold text-gray-800 dark:text-white">{{ category.name }}</h2>
        </a>
        {% empty %}
        <p class="text-center col-span-full text-gray-600 dark:text-gray-400">No categories found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}