{% extends 'store/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="flex justify-center items-center bg-gray-100">
    <form method="POST" action="{% url 'checkout' %}" class="bg-white max-w-md w-full p-6 rounded-lg shadow-md relative">
        <span class="absolute right-0 top-0 p-3">
            <a href="{% url 'home' %}" class="text-gray-500 hover:text-gray-700">
                <i class='bx bx-x text-2xl'></i>
            </a>
        </span>
        {% csrf_token %}
        {% if error %}
        <p class="text-red-500">{{ error }}</p>
        {% endif %}
        <h2 class="text-3xl font-bold text-gray-700 mb-6 text-center">Checkout</h2>
        <div class="flex justify-between gap-2">
            <div class="mb-4">
                <label class="block text-gray-700">Full Name</label>
                <input type="text" name="full_name" class="w-full p-2 border rounded-md" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Email</label>
                <input type="email" name="email" class="w-full p-2 border rounded-md" required>
            </div>
        </div>
        <div class="flex justify-between gap-2">
            <div class="mb-4">
                <label class="block text-gray-700">Address</label>
                <textarea name="address" class="w-full p-2 border rounded-md h-10 scroll-none" required></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Phone Number</label>
                <input type="text" name="phone" class="w-full p-2 border rounded-md" required>
            </div>
        </div>
        <div class="flex justify-between gap-2">
            <div class="mb-4 w-[50%]">
                <select name="payment_method" class="w-full p-2 border rounded-md">
                    <option value="Easypaisa">Easypaisa</option>
                    <option value="JazzCash">JazzCash</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                </select>
            </div>
            <div class="mb-4 w-[50%]">
                <input type="text" name="transaction_id" class="w-full p-2 border rounded-md" placeholder="Enter Transaction ID">
            </div>
        </div>
        <h3 class="text-xl font-bold text-gray-700 mt-4 text-center">Total: Rs {{ total_price }} </h3>
        <button type="submit" class="block w-full text-center bg-green-500 text-white py-2 mt-4 rounded-md hover:bg-green-600 transition">
            Place Order
        </button>
    </form>
</div>
{% endblock %}